services:

  # Postgres Database
  postgres:
    container_name: flowwTTT-postgres
    image: postgres:13.1-alpine
    environment:
      - POSTGRES_USER=flowwTTT
      - POSTGRES_PASSWORD=MyStr0ng!Passw0rd
    ports:
      - '5432:5432'
    volumes:
      - ./docker-data/postgres:/var/lib/postgresql/data