services:
  database:
    image: mariadb:latest
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_USER: root
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: ttt
      MYSQL_USER: ttt
      MYSQL_PASSWORD: password